.container {
  display: flex;
  flex-direction: row;
}

.spanPair {
  font-weight: 600;
  font-style: italic;
  margin-bottom: 20px;
  margin-left: 20px;
}

.containerPair {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  margin-top: 8px;
}

.word {
  margin-right: 7px;
}

.match {
  margin-left: 7px;
}

.addButton {
  margin-bottom: 20px;
  margin-top: 20px;
}
