.containerButton {
    width: 100%;
}

.mainButton {
    margin-top: 20px;
    width: 100%;
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 4px;
    padding: 0 16px;
    color: var(--white-color);
    background-color: rgb(28, 176, 246);
    text-transform: uppercase;
    box-shadow: 0 2px 0 rgb(20, 132, 184);
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondaryButton {
    background-color: var(--white-color);
    width: 100%;
    color: rgb(28, 176, 246);
    border: 2px solid var(--border-input);
    text-transform: uppercase;
    bottom: -2px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 0 var(--border-input);
}


/* SIZES */
.buttonSm {}

.buttonMd {
    border-width: 2px 2px 4px;
    border-radius: 16px 12px;
    height: 55px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0px 28px;
}

.buttonLg {
    height: 50px;
    font-weight: 600;
    border-radius: 16px;
    letter-spacing: 1px;
}