.containerButtonsAction {
  display: flex;
}

.containerInput {
  display: flex;
  flex-direction: column;
}

.spanInput {
  margin-bottom: 10px;
}

.addButton {
  margin-right: 28px;
  font-weight: 600;
}

.cancelButton {
  margin-left: 8px;
  font-weight: 600;
}

.experience {
  margin-bottom: 10px;
}

.practiceExperience {
  margin-bottom: 15px;
}

.isPractice {
  margin-bottom: 10px;
}
