.spanAnswer {
  font-weight: 600;
  font-style: italic;
  margin-left: 20px;
  display: block;
}

.containerAnswer {
  display: flex;
  flex-direction: row;
}

.addButton {
  margin-bottom: 20px;
  margin-top: 20px;
}
