.mainContainer {
    display: flex;
    flex-direction: column;
}

.containerButtonRegister {
    display: flex;
    padding: 0 40px;
    text-align: -webkit-right !important;
}

.containerForm {
    display: flex;
    justify-content: center;
}

.buttonRegister {
    display: flex;
    width: min-content !important;
}

.subContainerForm {
    flex-direction: column;
    display: flex;
    min-width: 25%;
    align-items: center;
}

.titleRegister {
    font-family: din-round, sans-serif;
}