:root {
    --primary-color: rgb(28, 176, 246);
    --secondary-color: rgb(255, 255, 255);
    --ternary-color: rgb(243 243 243);

    --black-color: #000000;
    --white-color: rgb(255, 255, 255);
    // --grey-color: #939598;

    // --border-input-color: #d9d9d9;

    --text-input-main-color: rgb(118, 118, 118);
    --border-input: rgb(229, 229, 229);
}