@import "./colors.scss";

.p-calendar {
  width: 100%;
}

.p-tieredmenu .p-menuitem {
  height: 100px;
}

.p-menuitem {
  padding: 7px 0 !important;
}

.p-datatable .p-datatable-tbody > tr > td {
  max-width: 200px;
  min-width: 150px;
}
